.label_top{margin: 20px auto;width: 100%;height: 100px;}
.label_top label{margin-left: 10px;}
.label_top h3{width: 100%;text-align: center;font-size: 18px;}

.label_center{width: 90%;margin: 20px auto;}