<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yuan.ssm.dao.manager.LikedManagerMapper">

    <resultMap id="LikedPo" type="yuan.ssm.pojo.LikedPo">
        <id property="id" column="id" />
        <result property="status" column="status"/>
        <association property="userVo" javaType="user">
            <id property="id" column="uid"/>
            <result property="head" column="head"/>
            <result property="nick" column="nick"/>
        </association>
        <association property="newsVo" javaType="news">
            <id property="id" column="nid"/>
            <result property="title" column="title"/>
        </association>
    </resultMap>

    <select id="findLikeds" parameterType="java.lang.Integer" resultMap="LikedPo">
        SELECT
           l.id AS id,
           l.status AS status,
           l.uid AS uid,
           l.nid AS nid,
           u.head AS head,
           u.nick AS nick,
           n.title AS title
        FROM
           liked AS l,
           user AS u,
           news AS n
        WHERE
            l.uid=u.id
        AND
            l.nid=n.id
        ORDER BY l.id DESC
        limit #{0},#{1}
    </select>

    <select id="findLikedsByUid" parameterType="java.lang.Integer" resultMap="LikedPo">
        SELECT
        l.id AS id,
        l.status AS status,
        l.uid AS uid,
        l.nid AS nid,
        u.head AS head,
        u.nick AS nick,
        n.title AS title
        FROM
        liked AS l,
        user AS u,
        news AS n
        WHERE
        l.uid=u.id
        AND
        l.nid=n.id
        AND
        l.uid=#{2}
        ORDER BY l.id DESC
        limit #{0},#{1}
    </select>

    <select id="findLikedsByNid" parameterType="java.lang.Integer" resultMap="LikedPo">
        SELECT
        l.id AS id,
        l.status AS status,
        l.uid AS uid,
        l.nid AS nid,
        u.head AS head,
        u.nick AS nick,
        n.title AS title
        FROM
        liked AS l,
        user AS u,
        news AS n
        WHERE
        l.uid=u.id
        AND
        l.nid=n.id
        AND
        l.nid=#{2}
        ORDER BY l.id DESC
        limit #{0},#{1}
    </select>

    <select id="findLikedByNidUid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT
          id
        FROM
          liked
        WHERE
          uid=#{0}
        AND
          nid=#{1}
    </select>

    <delete id="deleteLikeds" parameterType="java.lang.Integer">
        DELETE FROM liked WHERE id=#{0}
    </delete>

</mapper>