<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hpu.yuan.ssm.mapper.manager.CommentManagerMapper">


    <resultMap id="commentPo" type="cn.hpu.yuan.ssm.model.pojo.CommentPo">
         <id column="id" property="id"/>
         <result column="content" property="content"/>
         <association property="userVo"  javaType="user">
              <id column="uid" property="id"/>
              <result column="nick" property="nick"/>
              <result column="head" property="head"/>
         </association>

        <association property="newsVo"  javaType="newsPo">
              <id column="nid" property="id"/>
              <result column="title" property="title"/>
        </association>
    </resultMap>


    <select id="findCommentById" parameterType="java.lang.Integer" resultMap="commentPo">
           SELECT c.id as id,
                 c.content AS content,
                 c.uid AS uid,
                 c.nid AS nid,
                 u.nick AS nick,
                 u.head AS head,
                 n.title AS title
          FROM
                 comment AS c,
                 user AS u ,
                 news AS n
          WHERE
                c.uid=u.id
          AND
                c.nid=n.id
          AND
                c.id=#{0}
          AND
                c.status=0
     </select>



</mapper>