<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yuan.ssm.dao.customer.NewsMapper">


    <select id="findNewsCustom" resultType="yuan.ssm.pojo.NewsCustom">
        SELECT
           n.id AS id,
           n.title AS title,
           n.dt AS dt,
           n.content AS content,
           n.img AS img,
           n.rnum AS rnum,
           co.cnum,
           c.id AS cid,
           c.content AS ccont
        FROM
           cate c,
           news n
        LEFT JOIN
           (
              SELECT
                nid,
                count(id) AS cnum
              FROM
                comment
              GROUP BY nid
               ) AS co
        ON
              co.nid=n.id
        WHERE
           n.cid=c.id
        ORDER BY n.id DESC
        Limit #{start},#{num}
    </select>



    <select id="findAllCates" resultType="yuan.ssm.vo.CateVo">
        SELECT
          *
        FROM
          cate
    </select>

























</mapper>