<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yuan.ssm.dao.customer.NewsMapper">


    <select id="findNewsCustom" resultType="yuan.ssm.pojo.NewsCustom">
        SELECT
           n.id AS id,
           n.title AS title,
           n.dt AS dt,
           n.content AS content,
           n.img AS img,
           n.rnum AS rnum,
           co.cnum,
           c.id AS cid,
           c.content AS ccont,
           s.id AS sid,
           s.source scont
        FROM
           cate c,
           source s,
           news n
        LEFT JOIN
           (
              SELECT
                nid,
                count(id) AS cnum
              FROM
                comment
              GROUP BY nid
               ) AS co
        ON
              co.nid=n.id
        WHERE
           n.cid=c.id
        AND
           s.id=n.sid
        ORDER BY n.id DESC
        Limit #{start},#{num}
    </select>



    <select id="findAllCates" resultType="yuan.ssm.vo.CateVo">
        SELECT
          *
        FROM
          cate
    </select>

    <select id="findAllSources" resultType="yuan.ssm.vo.SourceVo">
        SELECT
          *
          FROM
          source
    </select>

    <select id="findNewsCustomByZan" resultType="yuan.ssm.pojo.NewsCustom">
        select
          n.id id,
          n.title title,
          n.dt dt,
          n.content content,
          n.img img,
          n.rnum rnum,
          IFNULL(znum,0) znum,
          c.id cid,
          c.content ccont,
          IFNULL(cnum,0) cnum,
           s.id AS sid,
           s.source scont
        from
          source s,
          cate c,
          news n
          left join (
            select
              nid,
              count(1) as znum
            from
              liked
            group by
              nid) as z
          on
            z.nid=n.id
          left join (
            select
              nid,
              count(1) as cnum
            from
              comment
            group by nid) as co
          on
            co.nid=z.nid
          where
            c.id=n.cid
          AND
            s.id=n.sid
          order by znum desc
          limit #{start},#{num}
    </select>



    <select id="findNewsCustomByComment" resultType="yuan.ssm.pojo.NewsCustom">
        SELECT
        n.id AS id,
        n.title AS title,
        n.dt AS dt,
        n.content AS content,
        n.img AS img,
        n.rnum AS rnum,
        co.cnum,
        c.id AS cid,
        c.content AS ccont,
             s.id AS sid,
           s.source scont
        FROM
        source s,
        cate c,
        news n
        LEFT JOIN
        (
        SELECT
        nid,
        count(id) AS cnum
        FROM
        comment
        GROUP BY nid
        ) AS co
        ON
        co.nid=n.id
        WHERE
        n.cid=c.id
        AND
        n.sid=s.id
        ORDER BY cnum DESC
        Limit #{start},#{num}
    </select>


    <select id="findNewsCustomByRnum" resultType="yuan.ssm.pojo.NewsCustom">
        SELECT
        n.id AS id,
        n.title AS title,
        n.dt AS dt,
        n.content AS content,
        n.img AS img,
        n.rnum AS rnum,
        co.cnum,
        c.id AS cid,
        c.content AS ccont,
        s.id AS sid,
        s.source scont
        FROM
        source s,
        cate c,
        news n
        LEFT JOIN
        (
        SELECT
        nid,
        count(id) AS cnum
        FROM
        comment
        GROUP BY nid
        ) AS co
        ON
        co.nid=n.id
        WHERE
        n.cid=c.id
        AND
        s.id=n.sid
        ORDER BY rnum DESC
        Limit #{start},#{num}
    </select>




    <select id="findNewsDetailById" resultType="yuan.ssm.pojo.NewsCustom">
        select
        n.id id,
        n.title title,
        n.dt dt,
        n.content content,
        n.img img,
        n.rnum rnum,
        IFNULL(znum,0) znum,
        c.id cid,
        c.content ccont,
        IFNULL(cnum,0) cnum,
        s.id AS sid,
        s.source scont
        from
        source s,
        cate c,
        news n
        left join (
        select
        nid,
        count(1) as znum
        from
        liked
        group by
        nid) as z
        on
        z.nid=n.id
        left join (
        select
        nid,
        count(1) as cnum
        from
        comment
        group by nid) as co
        on
        co.nid=z.nid
        where
        c.id=n.cid
        AND
        s.id=n.sid
        AND
        n.id=#{nid}
    </select>


    <select id="findLikedByNid" resultType="java.lang.String">
        select u.head from user u,liked l where u.id=l.uid and l.nid=#{nid} ORDER BY l.id DESC
    </select>

    <select id="findLikedNid" resultType="yuan.ssm.vo.LikedVo">
        select u.head from user u,liked l where u.id=l.uid and l.nid=#{nid} ORDER BY l.id DESC
    </select>


    <select id="findComment" resultType="yuan.ssm.other.CommentJo">
     select
              c.id AS id,
               c.content AS content,
               c.status AS status,
               n.nick AS nick,
               n.head AS head,
               n.id AS id
             FROM
              comment c,
               user n
             WHERE
               n.id=c.uid
             AND
               c.nid=#{nid}
              ORDER BY c.id DESC
    </select>

    <update id="updateNewsRnum">
        update news set  rnum=rnum+1 where id=#{nid};
    </update>


    <select id="findZanNid" resultType="java.lang.Integer">
        SELECT
           nid
         FROM
           liked
         WHERE
           uid=#{uid}
    </select>

    <select id="findCommentNid" resultType="java.lang.Integer">
        SELECT
           nid
        FROM
           comment
        WHERE
           uid=#{uid}
    </select>

    <select id="findNewsByLabel" resultType="java.lang.Integer">
        SELECT
           id
        FROM
          news
        WHERE
          title LIKE '%${label}%'
        OR
          content LIKE '%${label}%'
    </select>


    <select id="findNewsByIds" parameterType="java.util.List" resultType="yuan.ssm.pojo.NewsCustom">
        select
        n.id id,
        n.title title,
        n.dt dt,
        n.content content,
        n.img img,
        n.rnum rnum,
        IFNULL(znum,0) znum,
        c.id cid,
        c.content ccont,
        IFNULL(cnum,0) cnum,
        s.id AS sid,
        s.source scont
        from
        source s,
        cate c,
        news n
        left join (
        select
        nid,
        count(1) as znum
        from
        liked
        group by
        nid) as z
        on
        z.nid=n.id
        left join (
        select
        nid,
        count(1) as cnum
        from
        comment
        group by nid) as co
        on
        co.nid=z.nid
        where
        c.id=n.cid
        AND
        s.id=n.sid
        AND
        n.id IN
        <foreach collection="list" index="index" item="id"  open="(" close=")"
                 separator=",">
              #{id}
        </foreach>
        ORDER BY n.id DESC
    </select>

    <select id="findNewsByRnum" parameterType="java.util.List" resultType="yuan.ssm.pojo.NewsCustom">
        select
        n.id id,
        n.title title,
        n.dt dt,
        n.content content,
        n.img img,
        n.rnum rnum,
        IFNULL(znum,0) znum,
        c.id cid,
        c.content ccont,
        IFNULL(cnum,0) cnum,
        s.id AS sid,
        s.source scont
        from
        source s,
        cate c,
        news n
        left join (
        select
        nid,
        count(1) as znum
        from
        liked
        group by
        nid) as z
        on
        z.nid=n.id
        left join (
        select
        nid,
        count(1) as cnum
        from
        comment
        group by nid) as co
        on
        co.nid=z.nid
        where
        c.id=n.cid
        AND
        s.id=n.sid
        AND
        n.id IN
        <foreach collection="list" index="index" item="id"  open="(" close=")"
                 separator=",">
            #{id}
        </foreach>
        ORDER BY rnum DESC
    </select>

    <select id="findNewsByZan" parameterType="java.util.List" resultType="yuan.ssm.pojo.NewsCustom">
        select
        n.id id,
        n.title title,
        n.dt dt,
        n.content content,
        n.img img,
        n.rnum rnum,
        IFNULL(znum,0) znum,
        c.id cid,
        c.content ccont,
        IFNULL(cnum,0) cnum,
        s.id AS sid,
        s.source scont
        from
        source s,
        cate c,
        news n
        left join (
        select
        nid,
        count(1) as znum
        from
        liked
        group by
        nid) as z
        on
        z.nid=n.id
        left join (
        select
        nid,
        count(1) as cnum
        from
        comment
        group by nid) as co
        on
        co.nid=z.nid
        where
        c.id=n.cid
        AND
        s.id=n.sid
        AND
        n.id IN
        <foreach collection="list" index="index" item="id"  open="(" close=")"
                 separator=",">
            #{id}
        </foreach>
        ORDER BY znum DESC
    </select>

    <select id="findNewsByComment" parameterType="java.util.List" resultType="yuan.ssm.pojo.NewsCustom">
        select
        n.id id,
        n.title title,
        n.dt dt,
        n.content content,
        n.img img,
        n.rnum rnum,
        IFNULL(znum,0) znum,
        c.id cid,
        c.content ccont,
        IFNULL(cnum,0) cnum,
        s.id AS sid,
        s.source scont
        from
        source s,
        cate c,
        news n
        left join (
        select
        nid,
        count(1) as znum
        from
        liked
        group by
        nid) as z
        on
        z.nid=n.id
        left join (
        select
        nid,
        count(1) as cnum
        from
        comment
        group by nid) as co
        on
        co.nid=z.nid
        where
        c.id=n.cid
        AND
        s.id=n.sid
        AND
        n.id IN
        <foreach collection="list" index="index" item="id"  open="(" close=")"
                 separator=",">
            #{id}
        </foreach>
        ORDER BY cnum DESC
    </select>


</mapper>