<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yuan.ssm.dao.customer.UserMapper">

    <select id="CheckUserUnum" resultType="java.lang.Integer">
        SELECT
          id
         FROM
          user
         WHERE
          unum=#{unum}
    </select>

    <select id="loginCheckPass" resultType="yuan.ssm.vo.UserVo">
        SELECT
          *
        FROM
          user
        WHERE
          unum=#{unum}
        AND
          pass=#{pass}
    </select>

    <insert id="registerUser">
        INSERT INTO user(nick,unum,pass) VALUES (#{nick},#{unum},#{pass})
    </insert>


    <select id="userCheckTaste" resultType="java.lang.Integer">
        SELECT
          id
        FROM
          taste
        WHERE
          uid=#{id}
        AND
          label=#{label}
    </select>


    <insert id="userAddTasteLabel">
        INSERT INTO taste(label, uid) VALUES (#{label},#{id})
    </insert>


    <select id="userSelectTasteCount" resultType="java.lang.Integer">
        SELECT count(1) FROM taste WHERE uid=#{id}
    </select>

    <select id="userSelectTasteById" resultType="yuan.ssm.vo.TasteVo">
        SELECT
         *
        FROM
         taste
        WHERE
         uid=#{id}
    </select>

    <select id="selectTaste" resultType="yuan.ssm.vo.TasteVo">
        SELECT
         *
         FROM
         taste
         ORDER BY id DESC
         limit #{start},#{num}
    </select>

    <insert id="userNewsZan">
        INSERT INTO liked(uid,nid,status) VALUES (#{uid},#{nid},1)
    </insert>

    <update id="userNewsSuperZan">
        UPDATE liked SET status=2 WHERE uid=#{uid} AND nid=#{nid}
    </update>

    <insert id="userNewsComment">
        INSERT  INTO comment(uid,nid,content) VALUES (#{uid},#{nid},#{content})
    </insert>

</mapper>